<section>
  <mat-toolbar class="title">
    <span>Корзина</span>
  </mat-toolbar>
  @if(cart)
  {
    <table mat-table [dataSource]="cart" class="mat-elevation-z8">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Товар </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        <td colspan="2" mat-footer-cell *matFooterCellDef> Сумма </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Количество </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Цена </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        <td mat-footer-cell *matFooterCellDef> {{this.priceSummary.total}}₽ </td>
      </ng-container>
      
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" (click)="removeFromCart(element.productId)">
          <mat-icon aria-hidden="false" >delete</mat-icon>
        </td>
        <td mat-footer-cell *matFooterCellDef> {{this.priceSummary.total}}₽ </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="footerColumns"></tr>
    </table>
    <div class="submit-wrap">
      <button mat-raised-button color="primary" (click)="createOrder()" [disabled]="isLoading" id="submitbtn">Заказать</button>
      @if(isLoading){ 
        <mat-spinner diameter="20"></mat-spinner>
      }
    </div>
    
  }
  
  <!-- <div id="page">
    <table id="cart">
      <thead>
        <tr>
          <th class="first">Image</th>
          <th class="third">Product</th>
          <th class="second">Qty</th>
          <th class="fourth">Price</th>
          <th class="fifth">&nbsp;</th>

        </tr>
      </thead>
      <tbody>
        <tr class="productitm" *ngFor="let item of cart">
          
          <td><img src="{{item.image}}" class="thumb"></td>
          <td>{{item.title}}</td>
          <td>{{item.quantity}} *</td>
          <td>{{item.price}}₽</td>
          <td (click)="removeFromCart(item.productId)"><span class="remove"><img src="https://i.imgur.com/h1ldGRr.png"
                alt="X"></span></td>
        </tr>

        <tr class="totalprice">
          <td class="light">Сумма:</td>
          <td colspan="2">&nbsp;</td>
          <td colspan="2"><span class="thick">{{this.priceSummary.total}}₽</span></td>
        </tr>

        
        <tr class="checkoutrow">
          <td colspan="5" class="checkout"><button id="submitbtn" (click)="createOrder()">Заказать</button></td>
        </tr>
      </tbody>
    </table>
  </div> -->
</section>