<div class="container">
    <nav class="nav">
        <div class="navigation">
            <img class="logo" src="../../assets/logo.svg" alt="Syngenta logo" />
            <div routerLink="/">Главная</div>
            <div routerLink="/">Каталог</div>
        </div>
        <div [ngSwitch]="menuType" >
            <div class="navigation right-nav" *ngSwitchCase="'default'">
                <div routerLink="/customer-signup">Войти</div>  
            </div>
            <div class="navigation right-nav" *ngSwitchCase="'customer'">
                <div routerLink="/orders">Заказы</div>
                <div routerLink="/cart" >Корзина [{{cartCount}}]</div>
                <div routerLink="/profile" >{{userName | titlecase}}</div> 
            </div>
        </div>
    </nav>
</div>

