.container{
    height: 60px;
    font-family: "Poppins", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    border-bottom: 4px solid red;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 15px 50px 0px 100px;;
}
nav * {
    cursor: pointer;
}

.navigation {
    display: flex;
    align-items: center;
    height:100%;
    width: 400px;
    justify-content: space-around;
}

/* .right-nav {
    width: 300px;
} */

.logo{
  width: 150px;
  padding-bottom: 6px;
}


