<div class="container">
    <mat-toolbar class="title">
        <span>Семена и средства защиты растений</span>
    </mat-toolbar>
    <!-- <mat-spinner diameter="50" class="loader"></mat-spinner> -->
    @if(shopProducts){
        <!-- <div class="box-container">
        <div class="box"  *ngFor="let item of shopProducts">
            <mat-card class="example-card">
                <mat-card-header>
                  
                  
                </mat-card-header>
                
                <mat-card-content>
                    <img mat-card-image src="{{item.image}}" alt="product" routerLink="/product-details/{{item._id}}">
                </mat-card-content>
                <mat-card-footer class="example-footer">
                    <mat-card-title>{{item.title}}</mat-card-title>
                    <mat-card-subtitle>Цена: {{item.price}}₽</mat-card-subtitle>
                </mat-card-footer>
                <mat-card-actions>
                  <button mat-button routerLink="/product-details/{{item._id}}">Подробнее</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div> -->
        <div class="box-container">
  
            <div class="box"  *ngFor="let item of shopProducts">
                <img src="{{item.image}}" routerLink="/product-details/{{item._id}}">
                <h3>{{item.title}}</h3>
                <p>Цена: {{item.price}}₽</p>
                <a routerLink="/product-details/{{item._id}}" mat-raised-button color="primary" class="btn">Подробнее</a>
            </div>
      
        </div>
    }
    @else{
        <mat-spinner diameter="50" class="loader"></mat-spinner>
    }
    
  
  </div>
  
