<div class="top-container">
    <div class="main">  
		<input type="checkbox" id="chk" aria-hidden="true"> 
			<div class="signup"> 
				<!-- <form [formGroup]="customerSignupForm" (ngSubmit)="onSignup()">
					<label for="chk" aria-hidden="true">Регистрация</label>

					<input type="text" name="username" placeholder="Имя Пользователя" formControlName="username">
					<small class="signup-msg" *ngIf="customerSignupForm.get('username')?.invalid && customerSignupForm.get('username')?.touched">
						Введите имя пользователя</small>

					<input type="email" name="email" placeholder="Email" formControlName="email">
					<small class="signup-msg" *ngIf="customerSignupForm.get('email')?.invalid && customerSignupForm.get('email')?.touched">
						Введите Email</small>

					<input type="password" name="password" placeholder="Пароль" formControlName="password">
					<small class="signup-msg" *ngIf="customerSignupForm.get('password')?.invalid && customerSignupForm.get('password')?.touched">
						Введите Пароль</small>

					<button [disabled]="customerSignupForm.invalid">Зарегистрироваться</button>
					<small class="signup-msg">{{signupMsg}}</small>
				</form> -->
				<form [formGroup]="customerLoginForm" (ngSubmit)="onLogin()">
					<label for="chk" aria-hidden="true">Вход</label>
					<input type="email" name="email" placeholder="Email" formControlName="email">
					<input type="password" name="password" placeholder="Пароль" formControlName="password">
					<button>Войти</button>
					<small class="login-msg">{{signupMsg}}</small>
					<!-- <a routerLink="products">Link</a> -->
				</form>
			</div>

			<!-- <div class="login">
				<form [formGroup]="customerLoginForm" (ngSubmit)="onLogin()">
					<label for="chk" aria-hidden="true">Вход</label>
					<input type="email" name="email" placeholder="Email" formControlName="email">
					<input type="password" name="password" placeholder="Пароль" formControlName="password">
					<button>Войти</button>
					<small class="login-msg">{{signupMsg}}</small>
				</form>
			</div> -->
	</div>
</div>
<!-- <h5>&copy; 2024 Manoj S J | All Rights Reserved</h5> -->

